ci:
  autofix_prs: true
  autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci

repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9014
    hooks:
      - id: parsable-R
      - id: no-browser-statement
      - id: no-print-statement
      - id: no-debug-statement
      - id: deps-in-desc
        args: [--root=r/]
        exclude: '(do\.R|vignettes/articles/.+\.Rmd)'
      - id: roxygenize
        args: [--root=r/]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-merge-conflict
        args: [ --assume-in-merge ]
      - id: check-added-large-files
        name: check-added-large-files (>200kb)
        args: ['--maxkb=200']
        exclude: 'python/tests/test_data/expected_output/.*'
      - id: check-added-large-files
        name: check-added-large-files in tests (>999kb)
        args: ['--maxkb=999']
        files: 'python/tests/test_data/expected_output/.*'
      - id: file-contents-sorter
        files: '\.Rbuildignore$|^bibkeys.txt$|WORDLIST'
      - id: end-of-file-fixer
        exclude: '(\.Rd|python/doc/source/reference/.*|test-doctest-.*)'

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: "1.6.0"
    hooks:
      - id: tox-ini-fmt

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.6.0"
    hooks:
      - id: pyproject-fmt
        additional_dependencies: ["tox>=4.12.1"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.0
    hooks:
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
      # Run the linter.
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
        types_or: [ python, pyi, jupyter ]
        require_serial: true

  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.0
    hooks:
      - id: sphinx-lint
