setuptools>=70.1,<74 # Sync with .pre-commit-config.yaml
cffi >= 1.15.1
numpy >= 1.23.0

pre-commit >= 3.3.2
ruff >= 0.11.2

tox >= 4.6.2 # Sync with tox.ini
pytest >= 7  # Sync with tox.ini
pytest-cov >= 4.1.0
virtualenv >= 20
build

sphinx >= 6.0
pydata_sphinx_theme>=0.16.0
jupyter
ipykernel
kaleido
sphinx-gallery>=0.19.0
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
jupyterlab
ipywidgets

# Gallery examples
pandas >=2.0.0
seaborn
