*.a
*.o
.Rbuildignore.backup
.RData
.Rhistory
.Rproj.user
.auctex-auto
.httr-oauth
R/TAGS
autom4te.cache
benchmarks.html
config.status
cran-comments.md
docs
git_version
inst/doc
revdep/checks
revdep/library
src/*.o
src/*.so
src/dominatedsets
src/eaf
src/epsilon
src/hv
src/hvapprox
src/igd
src/ndsort
src/nondominated
